@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.pageWrap {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.contentWrap {
    margin-top: 4vw;
    margin-left: 9vw;
    margin-right: 9vw;
}

.title {
    font-size: $font-size-36;
    color: $grey;
}

.cartWrap {
    margin-top: 3.8vw;
    display: flex;
    justify-content: space-between;
}

.items {
    width: 78.2%;
    border-radius: $border-radius-4;
    border: 1px solid $grey-border;
    padding:  1.2vw 3vw;
    padding-bottom: 0.8vw;
}

.infoWrap {
    width: 35%;
    padding-left: 0.5vw;
    padding-top: 1.8vw;
    color: $grey;
}

.info {
    font-size: $font-size-16;
    font-weight: 600;
    color: inherit;
}

.price {
    font-size: $font-size-18;
    font-weight: 400;
    color: inherit;
}

.countWrap {
    width: 36%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    padding-right: 1.1vw;
}

.totalsWrap {
    width: 40.8%;
    padding-left: 3.4vw;
}

.totalWrap,
.priceBeforeDiscount,
.totalPrice {
    display: flex;
    justify-content: space-between;
}

.totalText {
    color: $grey-text;
    font-size: $font-size-20;
}

.priceBeforeDiscount {
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
}

.totalCount {
    color: $grey;
    font-size: $font-size-20;
}

.priceBeforeText {
    color: $grey-text;
    font-size: $font-size-20;
    font-weight: 500;
}

.totalPrice {
    border-top: 1px solid $grey;
    padding-top: 1.2vw;
}

.totalPriceText {
    color: $grey-text;
    font-size: $font-size-24;
    font-weight: 600;
}

.priceBeforeCount {
    color: $grey;
    font-size: $font-size-20;
    font-weight: 700;
}

.totalPriceCount {
    color: $grey;
    font-size: $font-size-24;
    font-weight: 800;
}