@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.btn {
    @include button;
    width: 10%;
    padding: 0.8em 0.95em;
}

.iconWrap {
    width: 93%;
}

.icon {
    width: 100%;
    max-width: 100%;
    height: auto;
}
