@import '../../../styles/variables.scss';

.page {
    margin-left: auto;
    margin-right: auto;
}

.pageWrap {
    padding-top: 3.4vw;
    padding-left: 9vw;
    padding-right: 9vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: start;
}

.imagesWrap {
    width: 89%;
    padding-right: 2.8vw;
}

.bigImg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 35vw;
    max-height: 100%;

    & img {
        width: 100%;
        // height: auto;
        max-height: 36vw;
        overflow-y: hidden;
    }
}

.galleryWrap {
    padding-top: 1.75vw;
    display: flex;
    flex-wrap: nowrap;
    gap: 4%;
}

.littleImgWrap {
    position: relative;
    cursor: pointer;
}

.galleryPhoto {
    border-radius: $border-radius-4;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.shooseImgBorder {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 98%;
    height: 96%;
    border: .25vw solid $grey-chosenImg;
    border-radius: $border-radius-4;
}

.title {
    padding-top: 0.5vw;
    font-size: $font-size-36;
    color: $grey;
    font-weight: 600;
    letter-spacing: -.03vw;
}