@import '../../../styles/mixins.scss';

.rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.starWrap {
    padding: 0 0;
    border: none;
    cursor: pointer;
}

.hidden {
    @include hidden;
}