@import './variables.scss';

@mixin adoptiveContainer {
    max-width: 1440px;
    margin-left: auto;
    margin-top: auto;
}

@mixin h1 {
    color: $white;
    font-size: $font-size-36;
    font-weight: 400;
    letter-spacing: -.023vw;
    line-height: 3.4vw;
}

@mixin h2 {
    color: $black;
    // font-size: $font-size-36;
    font-weight: 600;
    // letter-spacing: -.023vw;
    line-height: 3.4vw;
}

@mixin button {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: fit-content;
    width: fit-content;
    background-color: $red;
    background-image: none;
    color: $white;
    border-radius: $border-radius-4;
    text-decoration: none;
    will-change: background-color;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    border: none;
    box-shadow: none;
    
    &:hover,
    &:focus {
        background-color: $brown;
    }
    
    &:disabled {
        background-color: $pink;
    }
}