//colors

$white: #FFFFFF;
$black: #000000;
$red: #F14F4F;
$pink: #F8AFAF;
$brown: #8C2828;
$grey: #444B58;
$grey-link: #B2B5BB;
$grey-input: #F6F6F6;
$grey-dark-link: #C4C4C4;
$violet: #484283;

// $solid-grey-border: .8rem solid rgba(0, 0, 0, 0.322);

$border-radius-50: 50%;
// $border-radius-16: 1.111vw;
// $border-radius-20: 1.389vw;
// $border-radius-10: 0.756vw;
// $border-radius-8: 0.556vw;

$border-radius-4: 0.278vw;


// $font-size-10: 0.694vw;
// $font-size-12: 0.833vw;
// $font-size-13: 0.903vw;
// $font-size-15: 1.042vw;
// $font-size-18: 1.25vw;
// $font-size-20: 1.389vw;
// $font-size-26: 1.806vw;
$font-size-8: 0.612vw;
$font-size-14: 0.972vw;
$font-size-16: 1.111vw;
$font-size-30: 2vw;
$font-size-36: 2.556vw;
$font-size-200: 13.89vw;

// $box-shadow-blur-20: 0px 0px 1.389vw 0px rgba(0, 0, 0, 0.05);
// $box-shadow-blur-15: 0px 0.278vw 1.042vw 0px rgba(0, 0, 0, 0.05);
// $box-shadow-blur-hover: 0px 0px 1.389vw 0px rgba(0, 0, 0, 0.13);

// $transition-common: all .6s;

//modal
// $modal-overlay-bg: rgba(35, 56, 96, 0.65);