@import '../../../styles/variables.scss';

.itemWrap {
    width: 100%;
    background-color: $violet;
}

.queationWrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: $violet;
    border-radius: 0;
    padding-top: 1.87vw;
    padding-right: 0;
    padding-bottom: 1.3vw;
    padding-left: 0;
    letter-spacing: 0.013vw;
    border: none; 
    outline: none;
    border-top: 1px solid $white;

    &:focus {
        border: none; 
        outline: none;
        border-top: 1px solid $white;
    }

    &:hover {
        border-top: 1px solid $grey-dark-link;
    }
}

.questionText {
    text-align: start;
    color: $white;
    font-size: $font-size-20;
    font-weight: 300;
}

.answer {
    color: transparent;
    letter-spacing: 0.033vw;
    height: 0;
    will-change: color, padding-bottom, padding-top, height;
    transition: color 200ms ease-out, padding-bottom 200ms ease-out, padding-top 200ms ease-out, height 200ms ease-out;
    transition-delay: padding-bottom 200ms, padding-top 200ms, height 200ms;
    font-size: $font-size-16;
    font-weight: 600;
}

.answerOpen {
    height: auto;
    padding-top: 0.6vw;
    padding-bottom: 1.35vw;
    color: $white;
    will-change: color, padding-bottom, padding-top, height;
    transition: color 200ms ease-out, padding-bottom 300ms ease-in, padding-top 300ms ease-in, height 300ms ease-in;
    transition-delay: color 200ms;
    font-size: $font-size-16;
    font-weight: 600;
}

.closePlus {
    width: 2.7%;
    will-change: transform;
    transform: rotate(0deg);
    transition: all 250ms ease-in-out;
}

.closeCross {
    width: 2.7%;
    will-change: transform;
    transform: rotate(45deg);
    transition: all 250ms ease-in-out;
}

.btnIcon {
    width: 100%;
    max-width: 100%;
}