@import '../../../styles/variables.scss';

.itemWrap {
    width: 100%;
}

.queationWrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: $violet;
    border-radius: 0;
    padding-top: 1.87vw;
    padding-right: 0;
    padding-bottom: 1.3vw;
    padding-left: 0;
    letter-spacing: 0.013vw;
    border: none; 
    outline: none;
    border-top: 1px solid $white;

    &:focus {
        border: none; 
        outline: none;
    }
}

.questionText {
    text-align: start;
    color: $white;
    font-size: $font-size-20;
    font-weight: 300;
}

.answer {
    color: transparent;
    letter-spacing: 0.033vw;
    height: 0;
    will-change: color, padding-bottom, padding-top, height;
    transition: all 200ms ease-out;
}

.answerOpen {
    height: auto;
    padding-top: 0.6vw;
    padding-bottom: 1.35vw;
    color: $white;
    // letter-spacing: 0.033vw;
    will-change: color, padding-bottom, padding-top, height;
    transition: all 300ms ease-in;
    font-weight: 600;
}

.closePlus {
    will-change: transform;
    transform: rotate(0deg);
    transition: all 250ms ease-in-out;
}

.closeCross {
    will-change: transform;
    transform: rotate(45deg);
    transition: all 250ms ease-in-out;
}