@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.banner {
    background-color: $violet;
    min-height: 50vh;
}

.contentWrap {
    @include adoptiveContainer;
    position: relative;
    padding-top: 8.3%;
    margin-right: 8.2%;
    margin-left: 9.2%;
    border-top: 1px solid $white;
}

.title {
    @include h1;
}

.text {
    color: $white;
    font-size: $font-size-16;
    font-weight: 500;
    margin-top: 2.4%;
    letter-spacing: 0.017vw;
    margin-bottom: 2.5%;
}

.btnText {
    font-weight: 400;
    font-size: $font-size-16;
    padding-right: 2.1vw;
    padding-left: 2.1vw;
    padding-top: 0.585vw;
    padding-bottom: 0.585vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    white-space: nowrap;
}

.bcground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 12%;
    padding-top: 10.3%;
}

.bcgroundText {
    color: $white;
    font-size: $font-size-200;
    font-weight: 700;
    margin-left: 3.3vw;
}