@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $grey;
    width: 100%;
    height: 9vh;
    @include adoptiveContainer;
    padding-top: 1.35vh;
    padding-right: 8%;
    padding-left: 9.2%;
    display: flex;
    justify-content: space-between;
}

.logoWrap {
    padding-top: .8vw;
}

.linkWrap {
    width: 9.77%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.55vw;
}

.link {
    color: $white;
    font-family: "Jost", sans-serif;
    font-size: $font-size-14;
    font-weight: 600;
    
}