@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.features {
    background-color: $white;
    margin-right: 7.9%;
    margin-left: 9.2%;
    margin-top: 3.3vw;
}

.title {
    @include h2;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 3.2vw;
}