@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.features {
    background-color: $white;
    margin-right: 9%;
    margin-left: 9%;
    margin-top: 3.4vw;
}

.title {
    @include h2;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 3.2vw;
}

.btnWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8vw;
    margin-bottom: 3.34vw;
}

.btnText {
    padding:.7vw 2.2vw;
    font-weight: 300;
    letter-spacing: -.0025vw;
}